canvas.playArea{
    margin-top: 1em;
    border: thin solid black;
    margin-left: 1em;
}

#station,#locomotive,#carrige{
    display: none;
}

.playButton {
	position: fixed;
	top: 50%;
    right: 10%;
}

.scoreBox {
	float: right;
    position: fixed;
    top: 15%;
    right: 5%;
}

.gameover .modal-content{
    background-color: red;
    color: white;
}