.header{
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: sticky;
    width: 100%;
    z-index: 9;
    display: grid;
    grid-auto-flow: column;
}

.menu{
    height: 2.5em;
}

span.user > button{
    border: none;
    outline: none;
    border-top: thin solid #7c838a;
    border-left: thin solid #7c838a;
    border-bottom: thin solid #373a3d;
    border-right: thin solid #373a3d;
    border-radius: 0.5em;
}

span.user > button.user:hover{
    background-color: #404346;
}

span.user > button > img{
    height: 2.5em;
}

span.user > button{
    float: right;
    margin-right: 0.5em;
}