.container-fluid{
    background-color: whitesmoke;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

div.main-main{
    margin-top: 1em;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}

button.like > img{
    height: 2em;
}

div.slide{
    width: 70%;
    margin: auto;
}

@media screen and (max-width:1000px) {
    div.slide{
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    div.slide{
        width: 100%;
    }
}