.menu{
    display: flex;
    justify-content: start;
    align-items: center;
}

div.menu-switch > img{
    height: 2em;
}

.slidein{
    width: 25%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .5s;
}

.slidein.active{
    left: 0;
    transition: 1s;
}

.menu-items li{
    color: white;
    list-style: none;
    display: flex;
    justify-content: start;
    padding-bottom: 1em;
    padding-top: 1em;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.menu-items li.item:hover{
    background-color: #404346;
}

.close{
    margin: 1em;
}

@media screen and (max-width:500px){
    .slidein{
        width: 100%;
    }
}