img.trainbyid{
    width: 30em;
    height: auto;
    margin-bottom: 1em;
}

div.headline{
    display: flex;
    justify-content: space-between;
}

div.like{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 1em;
}

.main{
    margin-left: 1em;
    margin-top: 1em;
}

.container-fluid{
    background-color: whitesmoke;
    min-height: 100vh;
}

div.info{
    border-top: thin solid rgb(197, 187, 187);
    padding-top: 0.5em;
}

div.comments form{
    float: left;
    background-color: whitesmoke;
}

div.comments{
    margin-top: 1em;
}

div.gotFromServerComments{
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
}

form{
    width: 50%;
}

div.form-group{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    
    form{
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    img.trainbyid{
        width: 100%;
    }

    div.headline{
        display: block;
        padding-right: 1em;
    }

    div.like{
        display: block;
        text-align: center;
    }

    form{
        width: 100%;
    }
}